
h1 #{title}

p
 form(method='POST' action='/new')
        label(for='message') Message: 
        input(type='text')
        label(for='author') Author: 
        input(type='text')
        button(type="submit") Submit