
h1 #{title}

p
 form(method='POST' action='/new')
        label(for='message') Message: 
        input(type='text', name="message")
        label(for='author') Author: 
        input(type='text', name="author")
        button(type="submit") Submit